.navbar{
    background-color: darkgray;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.navbar-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex:1;
}
.navbar-container-logo{
    color:mediumaquamarine;
    cursor: pointer;
}
.navbar-container-menu{
    display: flex;
    list-style: none;
    text-align: center;
}
.nav-icon{
    display: none;
}
.navbar-container-menu-item{
    line-height: 40px;
    margin-right:1.5rem;
    font-size: 1.6rem;
}
.navbar-container-menu-item::after{
    content:'';
    display: block;
    height: 3px;
    width:0;
    background: transparent;
    transition: all 0.5s ease;
   
}
.navbar-container-menu-item:hover::after{
    width:100%;
    background: #393434;
    
}
.navbar-container-menu-item-links{
    color: #393434;
    text-decoration: none;
    padding: 0.5rem;
}
@media only screen and (max-width:768px){
    .navbar-container-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .navbar-container-menu.active{
        background: #ccc;
        left: 0px;
        opacity: 1;
    }
    .navbar-container-menu-item{
        border-bottom: 1px solid #353535;
        margin: 0px;
        padding: 20px 0px;

    }
    .nav-icon{
        display:block;
        cursor: pointer;
        color:#ccc;
        padding-right: 20px;
    }
}